@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

 body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEF9BF;
}

.container {
max-width: 1110px;
min-width: 335px;
height: 100%;
background-color: #EEF9BF;
display: flex;
flex-direction: column;
align-items: center;
padding: 5%;
}

.title-game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
color: #75B79E;
text-align: center;
}

.parrot-game {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.parrot-card {
width: 117px;
height: 146px;
background-color: #A7E9AF;
border: 1px solid #99CEA8;
border-radius: 5px;
margin: 18px;
display: flex;
justify-content: center;
align-items: center;
transform: scale(1);
transform-style: preserve-3d;
transition: transform .5s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
}

.front-face {
  transform: rotateY(180deg);
}

.parrot-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.parrot-card img {
width: 100px;
height: 100px;
}

/* .parrot-card img:nth-of-type(2){
  display: none;
} */

.parrot-card.flip {
  transform: rotateY(180deg);
}

@media(max-width:340px){
  .title-game h1{
    font-size: 36px;
  }
}